node_modules/
.env
user_data/
user_data_session*/
user_data_default/
data/sessions.json
data/users.json
data/incoming-messages.json
data/cv-files/
data/super-profile.json
logs/
*.log
*.zip
*:Zone.Identifier
.DS_Store
